body {
    margin: 0;
}

header {
    margin:0;
    background-color: blue;
    height: 12vh;
}
main{
    background-color:green;
    height: 35vw;
}
footer{
    background-color: red;
    height: 15vh;
}
p{
    margin: 0;
}
#yep1{
    background-color: yellow;    /*top, right, bottom et left.*/
    position: relative;
    top:15vh;
    left: 2vw;
    height: 40vh;
    width: 30%;
}
#yep2{
    background-color: yellow;
    position: relative;
    left:35vw;
    bottom:25vh;
    height: 40vh;
    width: 30%;
}
#yep3{
    background-color: yellow;
    position: relative;
    left: 143vh;
    right: 4vw;
    bottom:65vh;
    height: 40vh;
    width: 30%;
}